<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
    <body>
        <div class="header">
            <h1 id="device_name">Assign Project {{ device_name }}</h1>
        </div>
            <div class="table very-wide-element">
                <h2>Active Projects</h2>
                <table class="table">
                    <tbody>
                        <form id="project-selector">
                            <tr>
                                <td>
                                    <label class="radio-button">
                                        <input type="radio" name="options" value="option1">
                                        <span class="radiomark"></span> Option 1
                                    </label>
                                </td>
                            </tr>
                        </form>
                    </tbody>
                </table>
            </div>
            <div class="very-wide-element">
                <div class="buttons">
                    <button class="button very-wide-element">Assign To Project</button>
                </div>
                <br><br>
                <div class="buttons">
                    <a href="/" class="button"><button class="button very-wide-element">Return to Dashboard</button></a>
                </div>
            </div>
        </div>
    </body>
</html>
