<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <template id="log-template">
        <tr>
            <td id="log-message"></td>
        </tr>
    </template>
    <script type="module" src="/scripts/device.js"></script>
  </head>
<body>
    <div class="header">
        <h1 id="device_name">Device: {{ device_name }}</h1>
    </div>

    <div class="container">
        <div class="table">
            <h2>Device</h2>
            <table class="table">
                <tbody id="device-identifiers">
                    <tr>
                        <td id="name">
                            <input type="text" placeholder="device name" id="name-input">
                            <button class="button" id="change-name">Change Name</button>
                            <p id="error-text" class="input-error"></p>
                        </td>
                    </tr>
                    <tr>
                        <td id="preset_name"></td>
                    </tr>
                    <tr>
                        <td id="project_name"></td>
                    </tr>
                    <tr>
                        <td id="ip"></td>
                    </tr>
                    <tr>
                        <td id="mac"></td>
                    </tr>
                    <tr>
                        <td id="registration_time"></td>
                    </tr>
                    <tr>
                        <td id="status"></td>
                    </tr>
                    <tr>
                        <td><button id="device-status-button"></button></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="table">
            <h2>Active Logging Output</h2>
            <table class="table">
                <tbody id="logging-output">
                    <tr>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="table">
            <h2>Descriptive Statistics</h2>
            <table class="table" id="stats">
                <tbody>
                    <tr>
                        <td>Uptime: </td>
                        <td id="uptime"></td>
                    </tr>
                    <tr>
                        <td>Temperature: </td>
                        <td id="temperature"></td>
                    </tr>
                    <tr>
                        <td>Humidity: </td>
                        <td id="humidity"></td>
                    </tr>
                    <tr>
                        <td>Moisture: </td>
                        <td id="moisture"></td>
                    </tr>
                    <tr>
                        <td>pH: </td>
                        <td id="ph"></td>
                    </tr>
                    <tr>
                        <td>Light: </td>
                        <td id="light"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="very-wide-element">
            <div class="buttons">
                <button class="button" id="log-button">Download Logs</button>
                <button class="button">Unregister Device</button>
                <button class="button">Add To Project</button>
                <button class="button">Add Preset</button>
                <button class="button">Return to Project</button>
                <button class="button" id="enable-disable"></button>
            </div>
            <br><br>
            <div class="buttons">
                <a href="/" class="button"><button class="button very-wide-element">Return to Dashboard</button></a>
            </div>
        </div>
    </div>
</body>
</html>
