<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
<body>
    <div class="header">
        <h1 id="device_name">Device: {{ device_name }}</h1>
    </div>

    <div class="container">
        <div class="table">
            <h2>Device</h2>
            <table class="table">
                <tbody>
                    <tr>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="table">
            <h2>Active Logging Output</h2>
            <table class="table">
                <tbody>
                    <tr>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="table">
            <h2>Descriptive Statistics</h2>
            <table class="table">
                <tbody>
                    <tr>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="very-wide-element">
            <div class="buttons">
                <button class="button">View Device Statistics</button>
                <button class="button">Download Logs</button>
                <button class="button">Unregister Device</button>
                <button class="button">Add To Project</button>
                <button class="button">Add Preset</button>
            </div>
            <br><br>
            <div class="buttons">
                <a href="/" class="button"><button class="button very-wide-element">Return to Dashboard</button></a>
            </div>
        </div>
    </div>
</body>
</html>
