<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
<body>
    <div class="header">
        <h1 id="preset_name">Preset: {{ preset_name }}</h1>
    </div>

    <div class="container">
        <div class="table wide-element">
            <h2>Preset Information</h2>
            <table class="table wide-element">
                <tbody>
                    <tr>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="table">
            <h2>Device List</h2>
            <table class="table">
                <tbody>
                    <tr>
                        <tr>
                            <td><button>Project 2</button></td>
                        </tr>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="very-wide-element">
            <div class="buttons">
                <button class="button wide-element">Delete Preset</button>
            </div>
            <br><br>
            <div class="buttons">
                <a href="/" class="button"><button class="button very-wide-element">Return to Dashboard</button></a>
            </div>
        </div>
    </div>
</body>
</html>
