<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script type="module" src="/scripts/project.js"></script>
  </head>
<body>
    <div class="header">
        <h1 id="project_name">Project: {{ project_name }}</h1>
    </div>

    <div class="container" id="parent_container">
        {{ assigned_devices_table }}
        <div class="table wide-element">
            {{ graph_image }}
        </div>
    
        <div class="very-wide-element">
            <div class="buttons" id="buttons">
                {{ add_device }}
                {{ download_csv }}
                {{ download_pdf }}
                {{ archive_button }}
            </div>
            <div class="radio-horizontal-container wide-element" id="datatype-selector">
                <h3>Data Type Selector</h3>
                {{ datatype_radio }}
            </div>
            <div class="input-container" id="display-interval">
                <h3>Select Data Display Interval (mm-dd-yy)</h3>
                {{ start_date_input }}
                <span>to </span>
                {{ end_date_input }}
                {{ image_refresh_button }}
            </div>
            <div class="input-container" id="data-view-type">
                {{ timeframe_radio }}
            </div>
            <br><br>
            <div class="buttons">
                <a href="/" class="button"><button class="button very-wide-element">Return to Dashboard</button></a>
            </div>
        </div>
    </div>
</body>
</html>