<!DOCTYPE html>
<html>
  <head>
    <meta id="source_project" content={{ source_project }}>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script type="module" src="/scripts/scan.js"></script>

  </head>
    <body>
        <div class="header">
            <h1>Register Devices</h1>
        </div>
            <div class="table very-wide-element">
                {{ scan_list }}
            </div>
            <div class="very-wide-element">
                <div class="buttons very-wide-element">
                    {{ register_button }}
                </div>
                <br><br>
                <div class="buttons">
                    <a href="/" class="button"><button class="button very-wide-element">Return to Dashboard</button></a>
                </div>
            </div>
        </div>
    </body>
</html>
