<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <template id="assign-template">
        <tr>
            <td>
                <label class="radio-button" id="radio-label">
                    <input type="radio" name="options" value=1>
                    <span class="radiomark"></span>
                </label>
            </td>
        </tr>
    </template>
    <script type="module" src="/scripts/list_archived.js"></script>
  </head>
    <body>
        <div class="header">
            <h1>Browse Archived Projects</h1>
        </div>
            <div class="table very-wide-element">
                <h2>Archived Projects</h2>
                <table class="table">
                    <tbody>
                        <form id="selector-table">
                        </form>
                    </tbody>
                </table>
            </div>
            <div class="very-wide-element">
                <div class="buttons">
                    <button class="button very-wide-element" id="assign">View Archive</button>
                </div>
                <br><br>
                <div class="buttons">
                    <a href="/" class="button"><button class="button very-wide-element">Return to Dashboard</button></a>
                </div>
            </div>
        </div>
    </body>
</html>
