<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
    <body>
        <div class="header">
            <h1>Create New Project<name></h1>
        </div>

        <div class="container">
            <div class="table wide-element">
                <h2>
                    <label for="project">Project Name:</label><br>
                    <input type="text" id="projectname" name="temp"><br>
                </h2>
                <form id="desc">
                    <h3><label for="desc">Description:</label></h3>
                    <textarea id="w3review" name="w3review" rows="15" cols="50">Enter a unique description for your stuff</textarea>
                    <br>
                </form>
            </div>

            <div class="table">
                <h2>Assigned Devices</h2>
                <table class="table">
                    <tbody>
                        <form id="device-selector">
                            <tr>
                                <td>
                                    <label class="checkbox-button">
                                        <input type="checkbox" id="test">
                                        <span class="checkmark"></span> Option 1
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="checkbox-button">
                                        <input type="checkbox" id="test">
                                        <span class="checkmark"></span> Option 1
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="checkbox-button">
                                        <input type="checkbox" id="test">
                                        <span class="checkmark"></span> Option 1
                                    </label>
                                </td>
                            </tr>
                        </form>
                    </tbody>
                </table>
            </div>
            <div class="very-wide-element">
                <div class="buttons">
                    <button class="button very-wide-element">Create Project</button>
                </div>
                <br><br>
                <div class="buttons">
                    <a href="/" class="button"><button class="button very-wide-element">Return to Dashboard</button></a>
                </div>
            </div>
        </div>
    </body>
</html>
