<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">
  </head>
</head>
<body>
    <div class="header">
        <h1>Device: <name></h1>
    </div>

    <div class="container">
        <div class="table">
            <h2>Device</h2>
            <table class="table">
                <tbody>
                    <tr>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="table">
            <h2>Active Logging Output</h2>
            <table class="table">
                <tbody>
                    <tr>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="table">
            <h2>Descriptive Statistics</h2>
            <table class="table">
                <tbody>
                    <tr>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="buttons">
        <button class="button">View Device Statistics</button>
        <button class="button">Download Logs</button>
        <button class="button">Unregister Device</button>
        <button class="button">Add To Project</button>
        <button class="button">Add Preset</button>
    </div>
</body>
</html>
