<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">
  </head>
</head>
<body>
    <div class="header">
        <h1>Preset: <name></h1>
    </div>

    <div class="container">
        <div class="table wide-element">
            <h2>Preset Information</h2>
            <table class="table wide-element">
                <tbody>
                    <tr>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="table">
            <h2>Device List</h2>
            <table class="table">
                <tbody>
                    <tr>
                        <tr>
                            <td><button>Project 2</button></td>
                        </tr>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="buttons">
        <button class="button wide-element">Delete Preset</button>
    </div>
</body>
</html>
