<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <style>
        .radio-horizontal-container {
            display: flex;
            align-items: center;
        }
        .radio-horizontal-container input[type="radio"] {
            margin-right: 10px; /* Adjust the spacing between radio buttons */
        }
    </style>
  </head>
</head>
<body>
    <div class="header">
        <h1>Device: <name></h1>
    </div>

    <div class="container">
        <div class="table">
            <h2>Registered Devices</h2>
            <table class="registered-devices-table">
                <thead>
                    <tr>
                        <th>Device Name</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><button>Device 1</button></td>
                        <td>Active</td>
                    </tr>
                    <tr>
                        <td><button>Device 2</button></td>
                        <td>Inactive</td>
                    </tr>
                    
                    <!-- Add more rows with buttons as needed -->
                </tbody>
            </table>
        </div>

        <div class="table wide-element">
            <h2>Project Data</h2>
            <table class="table wide-element">
                <tbody>
                    <tr>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="buttons">
        <button class="button">View Device Statistics</button>
        <button class="button wide-element">Download CSV</button>
    </div>
    <h3>Data Type Selector</h3>
    <div class="radio-horizontal-container">
        <input type="radio" id="temp" name="data-selected" value="1">
        <label for="temp">Temperature (c)</label><br>
        <input type="radio" id="humi" name="data-selected" value="2">
        <label for="humi">Humidity (%)</label><br>
        <input type="radio" id="moisture" name="data-selected" value="3">
        <label for="moisture">Moisture (%)</label><br>
        <input type="radio" id="light" name="data-selected" value="4">
        <label for="light">Light (l)</label><br>
        <input type="radio" id="ir" name="data-selected" value="5">
        <label for="ir">IR Exposure (l)</label><br>
    </div>
</body>
</html>