<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">
  </head>
    </head>
    <body>
        <div class="header">
            <h1>Register Devices<name></h1>
        </div>
            <div class="table very-wide-element">
                <h2>Available Devices To Register</h2>
                <table class="table">
                    <tbody>
                        <form id="device-selector">
                            <tr>
                                <td>
                                    <label class="radio-button">
                                        <input type="radio" name="options" value="option1">
                                        <span class="radiomark"></span> Option 1
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="radio-button">
                                        <input type="radio" name="options" value="option1">
                                        <span class="radiomark"></span> Option 1
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="radio-button">
                                        <input type="radio" name="options" value="option1">
                                        <span class="radiomark"></span> Option 1
                                    </label>
                                </td>
                            </tr>
                        </form>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="buttons">
            <button class="button very-wide-element">Register Devices</button>
        </div>
    </body>
</html>
